*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    text-align: left;
   
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

main {
    background-color: hsl(213, 19%, 18%);
    width: 290px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
}

.titulo {
    font-size: 24px;
    color: white;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 15px;
}

.explicacaoTitulo {
    color: hsl(217, 12%, 63%);
    padding-bottom: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.containerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.fundoImg{
    background-color: hsla(216, 12%, 54%, 0.144);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#littleStar {
    width: 15px;
}

.rate {
    color: white;
    background-color: hsla(216, 12%, 54%, 0.144);
    width: 40px;
    height: 40px;
    margin: 10px 0px;
    border-radius: 50%;
    border: none;
}

.select {
    color: white;
    background-color: hsl(217, 12%, 63%);
    width: 40px;
    height: 40px;
    margin: 10px 0px;
    border-radius: 50%;
    border: none;
}

.rate:hover {
    background-color: hsl(25, 97%, 53%);
}

button.submit {
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-weight: 700;
    width: 290px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.247);
}

#submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

footer {
    text-align: center;
    padding: 20px;
}

/*Página Thank-you*/

#totalSelecionado {
    background-color: hsla(216, 12%, 54%, 0.144);
    color: hsl(25, 97%, 53%);
    width: 160px;
    height: 30px;
    border-radius: 15px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explicacaoTituloCenter {
    color: hsl(217, 12%, 63%);
    padding-bottom: 15px;
    text-align: center;
}