*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}

main {
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
}

.titulo {
    font-size: 28px;
    color: white;
}

.explicacaoTitulo {
    color: hsl(217, 12%, 63%);
}

.container {
    
}

footer {
    text-align: center;
}